version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.2.5
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/auth_db
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres

      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true

      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true

    ports:
      - "8080:8080"
    volumes:
      - ./providers:/opt/keycloak/providers
    depends_on:
      - postgres
    networks:
      - keycloak-network
    restart: unless-stopped
    command: ["start-dev"]

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak-network
    restart: unless-stopped

networks:
  keycloak-network:
    driver: bridge

volumes:
  postgres_data:
